.timeline{
    list-style-type: none;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    li {
        transition: all 200ms ease-in;
        div {
            width: 205px;
        }
        span {
            font-family: 'Nanum Gothic', sans-serif;
        }
    }

    .up{
        margin-bottom: 20px;
        padding: 0px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 100;
    }

    .bottom{
        padding: 20px 40px;
        display: flex;
        justify-content: center;
        position: relative;
        transition: all 200ms ease-in; 

        &:before{
            content: '';
            width: 25px;
            height: 25px;
            background-color: white;
            border-radius: 25px;
            border: 1px solid #ddd;
            position: absolute;
            top: -15px;
            left: 42%;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            transition: all 200ms ease-in;
        }
    }

    .bottom--red {
        border-top: 2px solid rgb(221, 27, 27);
    }

    .bottom--yellow {
        border-top: 2px solid rgb(175, 172, 13);
    }

    .bottom--green {
        border-top: 2px solid rgb(39, 131, 27);
    }

    .date {
        color: #495057;
    }
}