
{% assign profile=site.data.introduce.profile %}
{% assign pages_list = site.pages %}
<nav id="navbar" class="navbar
  {% if page.layout == 'main' %}
    navbar-trs
  {% endif %}">
  <div class="title">
    <img class="profile" src="/assets/img/profile.jpg" alt="profile"/>
    <h1 class="main-title"><a href="/">SungJoon's Portfolio</a></h1>
  </div>
  <img id="hamburger" src="/assets/img/hamburger.png">
  <div id="menu" class="menu">
    <ul class="categories">
        {% for node in pages_list %}
          {% if node.layout == "category" %}
            <li class="category">
              <a class="{% if page.category == node.category %} active {% endif %}" href="{{site.baseurl}}{{node.url}}">{{node.title}}</a>
            </li>
          {% endif %}
        {% endfor %}
    </ul>
  </div>
</nav>
